<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>내 주변 카페</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qb8k02fqhx"></script>
</head>

<div layout:fragment="content">

    <!--    <ul class="nav flex-column position-static" style="width: 100px">-->
    <!--        <li class="nav-item">-->
    <!--            <a class="nav-link active" href="#">Active</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <!--            <a class="nav-link" href="#">Link</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <!--            <a class="nav-link" href="#">Link</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <!--            <a class="nav-link disabled" href="#">Disabled</a>-->
    <!--        </li>-->
    <!--    </ul>-->

    <div class="float-start overflow-auto" style="width: 300px;height: calc(100vh - 56px)">
        <ul class="list-group" id="cafeList">
        </ul>
    </div>

    <div id="map" class="" style="width: calc(100% - 300px);height:400px;"></div>

    <script>
        var map = new naver.maps.Map('map');
        var markers = [], infoWindows = [];
        var circle;

        // fetch 비동기호출
        async function postData(url = "", data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        // 위치 옵션
        const options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
        };

        // 현재위치 찾기
        navigator.geolocation.getCurrentPosition(success, error, options);

        // 위치 찾기 성공시
        function success(pos) {
            const crd = pos.coords;

            console.log("Your current position is:");
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy} meters.`);

            map.setCenter(new naver.maps.LatLng(crd.latitude, crd.longitude)); // 중심 좌표 이동
            // map.setCenter(new naver.maps.LatLng(37.5594976, 127.1488309)); // 중심 좌표 이동 (고덕)

            // var marker = new naver.maps.Marker({
            //     position: new naver.maps.LatLng(crd.latitude, crd.longitude),
            //     map: map
            // })

            // 드래그 끝나면
            naver.maps.Event.addListener(map, 'dragend', function (e) {
                console.log(e.coord._lng + ' ' + e.coord._lat);

                // fetch 비동기 통신
                postData("http://localhost/", {lng: e.coord._lng, lat: e.coord._lat}).then((data) => {
                    console.log(data); // JSON data parsed by `data.json()` call

                    let cafeList = document.getElementById("cafeList");
                    cafeList.replaceChildren();
                    // 기존 마커,리스트 지우기
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i].setMap()) {
                            markers[i].setMap(null);
                        }
                    }

                    // 신규 마커, 리스트 추가
                    for (var key in data) {
                        var position = new naver.maps.LatLng(
                            data[key].lat,
                            data[key].lng
                        );

                        var marker = new naver.maps.Marker({
                            map: map,
                            position: position,
                            title: key,
                            zIndex: 100
                        });

                        // var infoWindow = new naver.maps.InfoWindow({
                        //     content: '<div style="width:150px;text-align:center;padding:10px;">The Letter is <b>"'+ key.substr(0, 1) +'"</b>.</div>'
                        // });

                        markers.push(marker);
                        // infoWindows.push(infoWindow);

                        if (!marker.setMap()) {
                            marker.setMap(map);
                        }

                        let li = document.createElement("li");
                        li.className = "list-group-item";
                        li.innerText = data[key].openBizesNm;

                        cafeList.append(li);
                    }

                    // naver.maps.Event.addListener(map, 'idle', function() {
                    //     updateMarkers(map, markers);
                    // });

                    function updateMarkers(map, markers) {

                        // var mapBounds = map.getBounds();
                        var marker, position;

                        for (var i = 0; i < markers.length; i++) {

                            marker = markers[i]
                            position = marker.getPosition();

                            // if (mapBounds.hasLatLng(position)) {
                            showMarker(map, marker);
                            // } else {
                            //     hideMarker(map, marker);
                            // }
                        }
                    }


                    // Return an event handler storing the marker index as a closure variable named seq.
                    // function getClickHandler(seq) {
                    //     return function(e) {
                    //         var marker = markers[seq],
                    //             infoWindow = infoWindows[seq];
                    //
                    //         if (infoWindow.getMap()) {
                    //             infoWindow.close();
                    //         } else {
                    //             infoWindow.open(map, marker);
                    //         }
                    //     }
                    // }

                    // for (var i=0, ii=markers.length; i<ii; i++) {
                    //     naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                    // }


                });
            });
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);


        }


    </script>
</div>

</html>