<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>내 주변 카페</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qb8k02fqhx"></script>
    <script type="text/javascript" th:src="@{/js/MarkerOverlappingRecognizer.js}"></script>
</head>

<div layout:fragment="content">

    <div class="float-start overflow-auto" style="width: 315px;height: calc(100vh - 56px)">
        <ul class="list-group" id="cafeList">
        </ul>
    </div>

    <div class="overflow-auto" id="overlay1"
         style="position: fixed;display: none;width: 325px;height: calc(100vh - 56px);top: 56px;left: 315px;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 2;">

        <div id="cafeInfo" class="card border-success m-1" style="width:auto;">
        </div>

        <div id="reviewHeader" class="d-flex justify-content-between"></div>

        <ul class="list-group" id="reviewList">
        </ul>

    </div>
    <div class="btn-close" onclick="off()" id="overlay2"
         style="position: fixed;display: none;width: 50px;height: 50px;top: 56px;left: 640px;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 2;cursor: pointer;"></div>

    <div id="map" class="" style="width: calc(100% - 315px);height: calc(100vh - 56px);"></div>

    <script>
        var MARKER_ICON_URL = 'https://ssl.pstatic.net/static/maps/img/icons/sp_pins_spot_v3.png';
        var MARKER_HIGHLIGHT_ICON_URL = 'https://ssl.pstatic.net/static/maps/img/icons/sp_pins_spot_v3_over.png';

        var map = new naver.maps.Map('map');
        var markers = [], infoWindows = [];
        var circle;

        var recognizer = new MarkerOverlappingRecognizer({
            highlightRect: false,
            tolerance: 5
        });

        recognizer.setMap(map);

        function highlightMarker(marker) {
            var icon = marker.getIcon();

            if (icon.url !== MARKER_HIGHLIGHT_ICON_URL) {
                icon.url = MARKER_HIGHLIGHT_ICON_URL;
                marker.setIcon(icon);
            }

            marker.setZIndex(1000);
        }

        function unhighlightMarker(marker) {
            var icon = marker.getIcon();

            if (icon.url === MARKER_HIGHLIGHT_ICON_URL) {
                icon.url = MARKER_ICON_URL;
                marker.setIcon(icon);
            }

            marker.setZIndex(100);
        }

        // fetch 비동기호출
        async function postData(url = "", data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: "POST", // *GET, POST, PUT, DELETE, etc.
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        function cafeInfo(cafeId) {
            console.log('눌렀어 ' + cafeId);

            on(); // 리뷰 overlay 보이도록

            postData("http://localhost/cafe/" + cafeId, {}).then((data) => {
                console.log(data); // JSON data parsed by `data.json()` call

                // 기존 내용 지우기
                // 카페 정보 삭제
                let cafeInfoDiv = document.getElementById("cafeInfo");
                cafeInfoDiv.replaceChildren();
                // 리뷰 목록 삭제
                let reviewList = document.getElementById("reviewList");
                reviewList.replaceChildren();

                // 받아온 내용 추가
                // 카페 정보 세팅
                /*
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">수정요청</div>
                */

                let cardBody = document.createElement("div");
                cardBody.className = "card-body text-success";

                let cardTitle = document.createElement("h5");
                cardTitle.className = "card-title";
                cardTitle.innerText = data.cafeDto.cafeNm;

                let cardText = document.createElement("p");
                cardText.className = "card-text";
                cardText.innerText = "지점명: " + data.cafeDto.brchNm + "\n건물명: " + data.cafeDto.bldNm + "\n업종: " + data.cafeDto.indsSclsNm + "\n주소: " + data.cafeDto.rdnmAdr;

                let cardFooter = document.createElement("div");
                cardFooter.className = "card-footer bg-transparent border-success";
                cardFooter.innerText = "수정요청";

                cardBody.append(cardTitle);
                cardBody.append(cardText);

                cafeInfoDiv.append(cardBody);
                cafeInfoDiv.append(cardFooter);

                let html = `<span>리뷰 ${data.reviewDTOList.length}건</span><button type="button" class="btn btn btn-light">평가 남기기</button>`;
                document.getElementById("reviewHeader").innerHTML = html;

                // 리뷰 정보 세팅
                for(var i=0;i<data.reviewDTOList.length;i++){


                    let li = document.createElement("li");
                    li.className = "list-group-item list-group-item-action"

                    let div = document.createElement("div");
                    div.className = "d-flex w-100 justify-content-between";

                    let h5 = document.createElement("h5");
                    h5.className = "mb-1";
                    h5.innerText = data.reviewDTOList[i].userId;

                    let small = document.createElement("small");
                    small.innerText = "작성일"

                    let p = document.createElement("p");
                    p.className = "mb-1";
                    p.innerText = data.reviewDTOList[i].content;

                    div.append(h5);
                    div.append(small);
                    li.append(div);
                    li.append(p);

                    reviewList.append(li);
                }
            });

        }

        function on() {
            document.getElementById("overlay1").style.display = "block";
            document.getElementById("overlay2").style.display = "block";
            // document.getElementsByClassName("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay1").style.display = "none";
            document.getElementById("overlay2").style.display = "none";
        }

        // 위치 옵션
        const options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
        };

        // 현재위치 찾기
        navigator.geolocation.getCurrentPosition(success, error, options);

        // 위치 찾기 성공시
        function success(pos) {
            const crd = pos.coords;

            console.log("Your current position is:");
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy} meters.`);

            map.setCenter(new naver.maps.LatLng(crd.latitude, crd.longitude)); // 중심 좌표 이동
            // map.setCenter(new naver.maps.LatLng(37.5594976, 127.1488309)); // 중심 좌표 이동 (고덕)

            // 현재 위치
            // var marker = new naver.maps.Marker({
            //     position: new naver.maps.LatLng(crd.latitude, crd.longitude),
            //     map: map
            // })

            // 드래그 끝나면
            naver.maps.Event.addListener(map, 'dragend', function (e) {
                // console.log(e.coord._lng + ' ' + e.coord._lat);

                var center = map.getCenter();
                console.log('center: ' + center._lng + ' ' + center._lat);

                // fetch 비동기 통신
                postData("http://localhost/", {lng: center._lng, lat: center._lat}).then((data) => {
                    console.log(data); // JSON data parsed by `data.json()` call

                    // 이전 검색정보 삭제
                    // 반경 삭제
                    if (!!circle) {
                        circle.setMap(null);
                    }

                    // 리스트 삭제
                    let cafeList = document.getElementById("cafeList");
                    cafeList.replaceChildren();

                    // 마커 삭제
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i].setMap()) {
                            markers[i].setMap(null);
                        }
                        recognizer.remove(markers[i]);
                    }

                    // 설명창 삭제
                    // for (var j = 0; j < infoWindows.length; j++) {
                    //     if (infoWindows[j].getMap()) {
                    //         infoWindows[j].close();
                    //     }
                    // }

                    // 신규 검색정보 추가
                    // 반경 추가
                    circle = new naver.maps.Circle({
                        map: map,
                        center: map.getCenter(),
                        radius: 500,
                        fillColor: 'Lavender',
                        fillOpacity: 0.3
                    });

                    // 신규 마커와 리스트 추가
                    for (var key in data) {

                        // var position = new naver.maps.LatLng(
                        //     data[key].lat,
                        //     data[key].lng
                        // );

                        // var marker = new naver.maps.Marker({
                        //     map: map,
                        //     position: position,
                        //     // title: key,
                        //     zIndex: 100
                        // });

                        // if (!marker.setMap()) {
                        //     marker.setMap(map);
                        // }


                        var markerContent = [
                                '<div style="position:absolute;">',
                                // '<div class="infowindow" style="display:none;position:absolute;width:220px;height:20px;top:-46px;left:-100px;background-color:white;z-index:1;border:1px solid black;margin:0;padding:0;">',
                                // '<a href="#" class="spmc btn_clear">핀 삭제</a>',
                                // '<div>HTML 마커 콘텐츠입니다.</div>',
                                // '<div style="margin: 0px; padding: 0px; width: 0px; height: 0px; position: absolute; border-width: 24px 10px 0px; border-style: solid; border-color: rgb(51, 51, 51) transparent; border-image: initial; pointer-events: none; box-sizing: content-box !important; transform-origin: right bottom 0px; transform: skewX(0deg); bottom: -25px; left: 100px;"></div>',
                                // '<div style="margin: 0px; padding: 0px; width: 0px; height: 0px; position: absolute; border-width: 24px 10px 0px; border-style: solid; border-color: rgb(255, 255, 255) transparent; border-image: initial; pointer-events: none; box-sizing: content-box !important; transform-origin: right bottom 0px; transform: skewX(0deg); bottom: -22px; left: 100px;"></div>',
                                // '</div>',
                                '<div class="pin_s" style="cursor: pointer; width: 22px; height: 30px;">',
                                // '<img src="https://ssl.pstatic.net/static/maps/img/icons/pin_s_3.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: none; max-height: none; -webkit-user-select: none; position: absolute; width: 22px; height: 30px; left: 0px; top: 0px;">',
                                // '<div class="pins_s_tooltip" style="display:none;width:150px;height:20px;position:absolute;top:5px;left:25px;font-size: 12px;">' + data[key].cafeNm + '</div>',
                                '<div class="pins_s_tooltip" style="border-radius: 25px;width:max-content;height:max-content;position:absolute;margin: 0px; padding: 0px 7px;border: 1px solid;font-size: 12px;font-weight: bold;background-color: white;white-space: pre-wrap;">' + data[key].cafeNm + '\n대형 콘센트:많음 wifi:원활 좌석:편안' + '</div>',
                                '</div>',
                                '</div>'
                            ].join(''),
                            htmlMarker = new naver.maps.Marker({
                                position: new naver.maps.LatLng(data[key].lat, data[key].lng),
                                title: data[key].cafeNm,
                                map: map,
                                icon: {
                                    content: markerContent,
                                    size: new naver.maps.Size(22, 30),
                                    anchor: new naver.maps.Point(11, 30)
                                }
                            }),
                            elHtmlMarker = htmlMarker.getElement();

                        // $(elHtmlMarker).on('mouseenter', 'img', function (e) {
                        //     console.log(e);
                        //     $(elHtmlMarker).find('.pins_s_tooltip').show();
                        // });

                        // $(elHtmlMarker).on('mouseout', 'img', function (e) {
                        //     $(elHtmlMarker).find('.pins_s_tooltip').hide();
                        // });

                        recognizer.add(htmlMarker);


                        // var infoWindow = new naver.maps.InfoWindow({
                        //     content: '<div style="width:150px;text-align:center;padding:10px;">The Letter is <b>"'+ key.substr(0, 1) +'"</b>.</div>'
                        // });

                        // var contentString = [
                        //     '<div class="iw_inner">',
                        //     '   <h3>'+data[key].cafeNm+'</h3>',
                        //     '</div>'
                        // ].join('');

                        // var infowindow = new naver.maps.InfoWindow({
                        //     content: contentString
                        // });

                        // naver.maps.Event.addListener(marker, "click", function(e) {
                        //     if (infowindow.getMap()) {
                        //         infowindow.close();
                        //     } else {
                        //         infowindow.open(map, marker);
                        //     }
                        // });

                        // infowindow.open(map, marker);

                        // let li = document.createElement("li");
                        // li.className = "list-group-item";
                        // li.innerText = data[key].cafeNm;
                        // cafeList.append(li);

                        let a = document.createElement("a");
                        a.href = "javascript:cafeInfo(" + data[key].cafeId + ");" //"#";
                        // a.onclick = "cafeInfo()";
                        a.className = "list-group-item list-group-item-action"

                        let div = document.createElement("div");
                        div.className = "d-flex w-100 justify-content-between";

                        let h5 = document.createElement("h5");
                        h5.className = "mb-1";
                        h5.innerText = data[key].cafeNm;

                        let small = document.createElement("small");
                        small.innerText = "리뷰없음"

                        let p = document.createElement("p");
                        p.className = "mb-1";
                        p.innerText = "대형 콘센트:많음 wifi:원활 좌석:편안";

                        div.append(h5);
                        div.append(small);
                        a.append(div);
                        a.append(p);

                        cafeList.append(a);

                        // markers.push(marker);
                        markers.push(htmlMarker);
                        // infoWindows.push(infowindow);
                    }

                    // var overlapCoverMarker = null;
                    //
                    // naver.maps.Event.addListener(recognizer, 'overlap', function(list) {
                    //     if (overlapCoverMarker) {
                    //         unhighlightMarker(overlapCoverMarker);
                    //     }
                    //
                    //     overlapCoverMarker = list[0].marker;
                    //
                    //     naver.maps.Event.once(overlapCoverMarker, 'mouseout', function() {
                    //         highlightMarker(overlapCoverMarker);
                    //     });
                    // });
                    //
                    // naver.maps.Event.addListener(recognizer, 'clickItem', function(e) {
                    //     recognizer.hide();
                    //
                    //     if (overlapCoverMarker) {
                    //         unhighlightMarker(overlapCoverMarker);
                    //
                    //         overlapCoverMarker = null;
                    //     }
                    // });


                });
            });
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

    </script>


</div>

</html>